html, body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
}

main {
	position: relative;
	width: 100%;
	height: 100vh;
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

section {
		scroll-snap-align: start;
}

/****************************liquied*******************************************/

main section.s1 {
	position: relative;
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #183954;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}


main section.s1 h1 {
	position: absolute;
	font-size: 26vw;
	font-family: sans-serif;

}

main section.s1 h1:nth-child(1) {
	color: #fff;
	text-shadow: -2px 2px 0px #183954,
	-4px 4px 0px #183954,
	-6px 6px 0px #183954,
	-8px 8px 20px rgba(0,0,0,.5),
	-18px 18px 50px rgba(0,0,0,.5);	
}

main section.s1 h1:nth-child(2) {
	color: #2196f3;
	animation: animate 6s ease-in-out infinite;
}

main section.s1 h1:nth-child(3) {
	color: #2196f3;
	animation: animate 4.5s ease-in-out infinite;
	opacity: 0.5;
}

main section.s1 h1:nth-child(4) {
	color: #2196f3;
	animation: animate 3s ease-in-out infinite;
	opacity: 0.5;
}

@keyframes animate {
	0%, 100% {
		clip-path: polygon(0 49%, 14% 50%, 28% 54%, 45% 59%, 56% 65%, 70% 69%, 83% 68%, 90% 68%, 100% 68%, 100% 100%, 0 100%);

	}

	50% {
		clip-path: polygon(1% 67%, 14% 68%, 33% 73%, 48% 72%, 59% 69%, 69% 65%, 79% 58%, 89% 50%, 100% 43%, 100% 100%, 0 100%);

	}


}
/***********************************Text effect********************************/

main section.s2 {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

main section.s2 .txt {
	color: #fff;
	font-family: sans-serif;
	font-size: 7vw;
	font-weight: 400;

}

main section.s2 .run-text {
	margin-left: 15px;
	padding: 0;
	height: 90px;
	line-height: 90px;
	overflow: hidden;
}

.run-text li {
	list-style: none;
	color: cyan;
	font-size: 7vw;
	font-weight: 400;
	position: relative;
	top: 0;
	animation: slide 12s steps(4) infinite ;

}

@keyframes slide {
	100% {
		top: -360px;
	}
} 

.run-text li span {
	position: relative;
	margin: 5px 0;
	font-family: 'Fredericka the Great', cursive;
	line-height: 9px;
}


.run-text li span::after {
	content:"";
	position: absolute;
	left: 0;
	bottom: 0;
	height: 100%;
	width: 100%;
	background-color: black;
	border-left: 3px solid cyan;
	animation: typing 3s steps(12) infinite;
}

@keyframes typing {
	40%, 60% {
		left: calc(100% + 30px);
	}

	100% {
		left: 0;
	}
}
/******************************************************************************/

main section.s3 {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #a2a0ab;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.card {
	position: relative;
	width: 600px;
	height: 500px;
	margin: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background: rgb(255,0,249);
	background: -moz-linear-gradient(90deg, rgba(255,0,249,1) 0%, rgba(37,37,126,1) 33%, rgba(25,92,166,1) 53%, rgba(0,212,255,1) 74%);
	background: -webkit-linear-gradient(90deg, rgba(255,0,249,1) 0%, rgba(37,37,126,1) 33%, rgba(25,92,166,1) 53%, rgba(0,212,255,1) 74%);
	background: linear-gradient(90deg, rgba(255,0,249,1) 0%, rgba(37,37,126,1) 33%, rgba(25,92,166,1) 53%, rgba(0,212,255,1) 74%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff00f9",endColorstr="#00d4ff",GradientType=1);
	border-radius: 20px;
}

.card img {
	width: 70%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	transition: .5s; 
}

.card:nth-child(2) img {
	width: 60%;
}

.card:hover img {
	left: 75%;
	width: 80%;
}


.card content {
	position: relative;
	width: 41%;
	left: 30px;
	padding: 20px 20px 20px 10px;
	opacity: 0;
	visibility: hidden;
	transition: .5s;
}
.card content button {
	padding: 10px;
	border: 1px solid rgb(255,0,249);
	background: transparent;
	color: #fff;
	font-size: 18px;
	cursor: pointer;
}
.card:hover content {
	left:0;
	opacity: 1;
	visibility: visible;
}

@media (max-width: 991px)   {
	.s3 {
		height: 257vh !important;
		flex-direction: column;
	}

	.card {
		top: 0 !important;
		width: auto;
		max-width: 600px;
		align-items: flex-start;
		transition: .5s;
	}

	.card:hover {
		height: 600px;
	}

	.card:hover img{
		left: 50%;
		width: 160px;
	}

	.card content {
		width: 100%;
		left: 0;
		padding: 40px;
		transition: .5s;
	}
}

@media (min-width: 767px)   {
	.s3 {
		height: 105vh !important;
	}

}



/******************************************************************************/

main section.s4 {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

h1.word {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30vw;
}

span {
	position: relative;
	flex: 1;
}

span:after {
	content: attr(data-content);
	position: absolute;
	top: 0;
	left: 0;
}

.word:hover span:after {
	animation: falls 1s  ease 0.3s forwards;
}

.word:hover span:nth-child(1):after {
	animation: falls .5s  ease 0.3s forwards;
}

.word:hover span:nth-child(2):after {
	animation: falls .7s  ease 0.3s forwards;
}

.word:hover span:nth-child(3):after {
	animation: falls 1s  ease 0.3s forwards;
}


@keyframes falls {
	0% {
		opacity: 0;
		top: 0;
	}

	20% {
		opacity: 1;
	}


	100% {
		opacity: 0;
		top: 150px;
	}
}


/******************************************************************************/


main section.s5 {
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
}

section.s5 a {
	position: relative;
	border: 2px solid #0f0;
	text-transform: uppercase;
	text-decoration: none;
	font-weight: 600;
	line-height: 2px;
	padding: 30px 40px;
	color: #fff;
	-webkit-box-reflect: below 0px linear-gradient(transparent, #0002);
	transition: .5s;
}

section.s5 a:hover {
	color: black;
	box-shadow: 0 0 10px #0f0,
	0 0 20px #0f0,
	0 0 40px #0f0,
	0 0 80px #0f0,
	0 0 160px #0f0;
	transition-delay: 1.5s;
}

section.s5 a::before {
	content: "";
	position: absolute;
	left: -20px;
	top: 31px;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0,5px 8px 0 #0f0;
	transition: width 0.5s, left .5s, height .5s;
	transition-delay: 1s,.5s,0s,0s;
}

section.s5 a::after {
	content: "";
	position: absolute;
	right: -11px;
	top: 31px;
	transform: translateY(-50%);
	width: 20px;
	height: 2px;
	background: #0f0;
	box-shadow: 5px -8px 0 #0f0,5px 8px 0 #0f0;
	transition: width 0.5s, left .5s, height .5s;
	transition-delay: 1s,.5s,0s,0s;
}
 
section.s5 a:hover::before {
	width: 60%;
	height: 100%;
	left: -2px;
	box-shadow: 5px 0px 0 #0f0,5px 0px 0 #0f0;
}

section.s5 a:hover::after {
	width: 60%;
	height: 100%;
	right: 5px;
	box-shadow: 5px 0px 0 #0f0,5px 0px 0 #0f0;
}

section.s5 a span {
	position: relative;
	z-index: 100;
}

/******************************************************************************/

section.s6 {
	width: 100%;
	height: 100vh;
	position: relative;
	background-image: url(../images/boat_animation_img/background.jpg);
	background-size: cover;	
	background-position: center;
	overflow: hidden;
}

.ocean {
	height: 220px;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

.water {
	height: 100%;
	position: absolute;
	right: 0;
	animation: water 10s linear infinite;

}

.boat {
	width: 350px;
	position: absolute;
	bottom: 200px;
	left: 50%;
	transform: translateX(-50%);
}

.boat img {
	width: 100%;
	-webkit-box-reflect: below 0 linear-gradient(rgba(255,255,255,0.1),rgba(255,255,255,0.6));
	animation: boat 2s linear infinite;
}

img.cloud {
	height: 250px;
	position: absolute;
	right: 0;
	animation: cloud 10s linear infinite;
}

@keyframes cloud {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(500px);
	}
}

@keyframes water {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(1000px);
	}
} 

@keyframes boat {
	0% {
		transform: rotate(0deg) translateY(0);
	}

	25% {
		transform: rotate(-1deg) translateY(-3px);
	}

	50% {
		transform: rotate(0deg) translateY(-5px);
	}

	75% {
		transform: rotate(1deg) translateY(-3px);
	}

	100% {
		transform: rotate(0deg) translateY(0);
	}
}

h1.soon {
	position: absolute;
	top: 296px;
	width: 100%;
	text-align: center;
	z-index: 100;
	font-size: 3em;
	color: yellow;
}
